a.create-message {
	background-color: #4CC3D9;
	display: inline-block;
	padding: 3px;
	color: white;
	margin: 5px;
}

a.delete-message {
	background-color: #F16745;
	display: inline-block;
	padding: 3px;
	color: white;
	margin: 5px;
}

.wall_title {
    display: inline-block;
    margin-left: 5px;
}

a.admin-sub-msg{
    background-color: #4CC3D9;
    display: inline-block;
    padding: 3px;
    color: white;
    margin: 5px;
    position: fixed;
    right: 10px;
    height: 30px;
    top: 50%;
}

div.admin-msg-view{
    background-color: grey;
    width: 50%;
    position: fixed;
    padding: 10px;
    top: 20%;
    left: 25%;
    border-radius: 10px;
}

.admin-msg-view p{
    color: white;
    text-align: center;
}
.admin-msg-view textarea{
    width: 100%;
    display: block;
    resize: none;
    height: 80px;
    border-radius: 6px;
    top: 12px;
    position: relative;
    text-indent: 12px;
    padding-top: 10px;
}

.admin-msg-view button{
    margin-top: 20px;
    display: inline-block;
}

.admin-msg-view button#cancel-btn{
    float: left;
}

.admin-msg-view button#send-btn{
    float: right;
}

a.del-admin-msg-btn {
    margin: 6px;
    display: inline-block;
    float: right;
    background-color: red;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    position: relative;
    color: white;
}

a.del-admin-msg-btn:hover {
    background-color: grey;
    color: red;
    text-decoration: none;
}

p.admin-old-msg {
    margin: 6px;
    display: inline-block;
    position: relative;
    float: left;
    color: black;
}

div.old-msg {
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 6px;
}